<div class="row">
  <div class="col-12">
    <h3 class="header text-center text-secondary">TOP PERFORMERS</h3>
  </div>
</div>

<div class="d-flex flex-wrap justify-content-around">
  <div *ngFor="let topPerformer of topPerformers$ | async" class="card mt-3" style="width: 18rem;">
    <div class="card-body">
      <h5 class="card-title d-flex justify-content-between">{{topPerformer.lastName}}, {{topPerformer.firstName}}</h5>
      <div class="stats">
        <span>Goals: {{topPerformer.stats.goals}}</span>
        <span>Assists: {{topPerformer.stats.assists}}</span>
        <span>Yellow Cards: {{topPerformer.stats.yellowCards}}</span>
        <span>Red Cards: {{topPerformer.stats.redCards}}</span>
        <a class="btn btn-outline-primary mt-2" [routerLink]="['player', topPerformer.id]">View More</a>
      </div>
    </div>
  </div>
</div>

<div class="row mt-3">
  <div class="col-12 d-flex flex-column">
    <h3 class="header text-center text-secondary">TEAMS</h3>
    <input type="text" class="form-control" [formControl]="search" placeholder="Search..." />
  </div>
</div>
<div class="d-flex flex-wrap justify-content-around">
  <div *ngFor="let team of teams | async" class="card mt-3" style="width: 18rem;">
    <div class="card-body">
      <h5 class="card-title">{{team.name}}</h5>
      <div class="stats">
        <span>Wins: {{team.wins}}</span>
        <span>Losses: {{team.losses}}</span>
        <span>Draws: {{team.draws}}</span>
        <span>Total Played: {{team.matchesPlayed}}</span>
        <span>Goals: {{team.goalCount}}</span>
        <a class="btn btn-outline-primary mt-2" [routerLink]="team.id">View More</a>
      </div>
    </div>
  </div>
</div>

<div class="row mt-3">
  <div class="col-12">
    <h3 class="header text-center text-secondary">EXCLUSIVE LOSERS</h3>
    <div class="text-center text-secondary w-100">Teams with 0 wins and 0 draws.</div>
  </div>
</div>
<table class="table w-100 mt-3">
  <thead>
    <tr>
      <td>Name</td>
      <td>Goal Count</td>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let team of losers$ | async">
      <td>{{team.name}}</td>
      <td>{{team.goalCount}}</td>
    </tr>
  </tbody>
</table>

<div class="row mt-3">
  <div class="col-12">
    <h3 class="header text-center text-secondary">Winning Teams</h3>
    <div class="text-center text-secondary w-100">Teams with winning records.</div>
  </div>
</div>
<table class="table w-100 mt-3">
  <thead>
    <tr>
      <td>Name</td>
      <td>Goal Count</td>
      <td>Win Count</td>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let team of winners$ | async">
      <td>{{team.name}}</td>
      <td>{{team.goalCount}}</td>
      <td>{{team.wins}}</td>
    </tr>
  </tbody>
</table>
